{% extends 'quotes/base.html' %}
{% block content %}


<div class="row header-box pt-3 mb-3">
    <div class="col-md-8">
        <h1>
            <span class="registration-link" style="text-decoration: none">Registration</span>
        </h1>
    </div>

</div>

<form method="post" action="{% url 'users:registration' %}">
    {% csrf_token %}
    <div>
        <label> Username:
            {{ reg_form.username }}
        </label>
        <span>{{ reg_form.errors.username }}</span>
    </div>
    <br>
    <div>
        <label> Email:
            {{ reg_form.email }}
        </label>
        <span>{{ reg_form.errors.email }}</span>
    </div>
    <br>
    <div>
        <label> Password:
            {{ reg_form.password1 }}
        </label>
        <span>{{ reg_form.errors.password1 }}</span>
    </div>
    <br>
    <div>
        <label> Password confirmation:
            {{ reg_form.password2 }}
        </label>
        <span>{{ reg_form.errors.password2 }}</span>
    </div>
    <br>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}


