<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">


    <title>Main Page</title>

</head>
<body>
<nav class="navbar bg-body-tertiary justify-content-between">
    <div>
        <a href="{% url 'quotes:add_quote' %}" class="btn btn-warning" type="button">Add quote</a>
        <a href="{% url 'quotes:add_author' %}" class="btn btn-warning" type="button">Add author</a>
        <a href="{% url 'quotes:root' %}" class="btn btn-info" type="button">Main</a>
    </div>
    <div>
        <button class="btn btn-success" type="button">Login</button>
        <button class="btn btn-light" type="button">Logout</button>
        <button class="btn btn-outline-secondary" type="button">Registration</button>
    </div>
</nav>
<div class="container">


    {% block content %}
    {% endblock %}


</div>

</body>
</html>