{% extends 'quotes/base.html' %}
{% block content %}

<div class="container">


    <div >
        <h3 class="fw-light">{{author.fullname}}</h3>
        <p><strong>Born:</strong> <span class="fw-semibold">{{author.born_date}}</span>
            <span class="fw-semibold">{{author.born_location}}</span></p>
        <p ><strong>Description:</strong></p>
        <div class="fst-italic" style="font-size: 20px;">
            {{author.description}}
        </div>
    </div>

</div>
{% endblock %}

